.bg-katalog {
    background-image: url('../assets/images/background/bg2.jpg');
    background-size: cover;
    background-position: center;
}

.bg-overlay {
    background-color: rgba(250, 250, 247, 0.584);
}

.badge-baru {
    background-color: #3e5648;
    color: white;
}

.badge-bagus {
    background-color: #657b6e;
    color: white;
}

.badge-layak {
    background-color: #7fb7a4;
    color: white;
}

.badge-baru,
.badge-bagus,
.badge-layak {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 120px;  
    height: 25px;       

    font-size: 12px;
    border-radius: 9999px;
    font-weight: 500;
}

    /* ===== FONT FAMILY ===== */
    body {
      font-family: 'DM Sans', sans-serif;
    }

    /* ===== BACKGROUND SLIDESHOW ===== */
    .bg-slide {
      position: absolute;
      inset: 0;
      background-size: cover;
      background-position: center;
      opacity: 0;
      transition: opacity 2.5s ease-in-out;
    }
    .bg-slide.active {
      opacity: 1;
    }

    /* ===== LOGO ANIMATION ===== */
    #heroLogo {
      opacity: 0;
      transform: scale(0.95);
      transition: all 0.9s ease;
    }
    #heroLogo.show {
      opacity: 1;
      transform: scale(1);
    }

    /* ===== TYPING CURSOR ===== */
    .cursor::after {
      content: "|";
      margin-left: 4px;
      animation: blink 1s infinite;
    }
    @keyframes blink {
      0%, 50%, 100% { opacity: 1; }
      25%, 75% { opacity: 0; }
    }

.card-smooth {
  transition: transform .3s ease, box-shadow .3s ease;
}
.card-smooth:hover {
  transform: translateY(-4px) scale(1.04);
  box-shadow: 0 20px 40px rgba(0,0,0,.12);
}

