body {
    font-family: Arial, sans-serif;
    background-color: #CFD6C4;
}

.form-container{
    border: 1px solid black; 
    padding: 10px; 
    width: 300px; 
    margin: auto;
    margin-top: 100px;
    text-align: center;
    background-color: #B6C99B;
    
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #A3B18A;
    padding: 10px;
}

.nav-container a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

